html {
	font-size: 14px;
}
a {
	color: #000;
}
a:hover {
	color: #a22;
	text-decoration: none;
}


/*цвет слайдера*/
.carousel-news {
	background: #333;
	border-top: .3rem solid #a22;
}
/*разделитель блоков в слайдере*/
.separator:before {
	content: "";
	height: 60px;
	position: absolute;
	top: 0px;
	left: 0px;
	border-left: 1px solid #555;
}

/*.navbar:nth-child(3) .navbar-nav a {
	font-size: 1rem;
}*/

.navbar-light .navbar-nav .active>.nav-link{
	color: #a22;
}

.modal-backdrop.show {
	background: white;
}

.border-top-red {
	border-top: 1px solid #a22 !important;
	border-radius: 0;
}
.border-bottom-red {
	border-bottom: 1px solid #a22 !important;
	border-radius: 0;
}
.border-bottom-silver {
	border-bottom: 1px solid #aaa !important;
	border-radius: 0;
}
.list-group-item {
	border: 1px solid #ddd;
}

.pos-bottom {
	position: absolute;
	left: 0;
	bottom: 0;
}
.img-shadow {
	background: linear-gradient(to top, black 0%, transparent 100%)
}
/*ТЕКСТ*/
.text-regular {
	font-size: 1rem;
}
.text-small {
	font-size: 0.8rem;
}
.text-big {
	font-size: 2rem;
}
/*.text-date {
	font-size: 0.8rem;
}*/
.text-red {
	color: #a22 !important;
}

.bg-red {
	background: #a22;
}

.overflow-hidden {
	overflow: hidden;
}

.controls {
	/*height: 2rem;*/
}
.controls-icon {
	/*height: 1.3rem;*/
}

.list-group-item {
	background: transparent;
}

.bg-silver {
	background: #f3f3f3;
}

footer {
	height: 500px;
}